BackEnd/node_modules
*.ser
*.ser
Android/.idea/
Android/.idea/caches/build_file_checksums.ser
Android/.idea/caches/build_file_checksums.ser
Android/.idea/gradle.xml
Android/.idea/misc.xml
Android/.idea/runConfigurations.xml
Android/.idea/caches/build_file_checksums.ser
